* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 16px;
  background-color: rgb(219, 220, 221);
  color: black;
}

body {
  margin: 0px;
}

#redframe {
  margin: 6px;
  border-color: red;
  border-width: 1px;
  border-style: solid;
  width: 600px;
  padding: 10px;
  margin: auto;
}

.blackframe {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
}

img {
  width: 270px;
  margin: 0px 10px;
}

.textbox {
  padding: 10px;
}
